<div class="container mt-4">
    <form>
        <div class="form-floating mb-2">
            <input type="text" class="form-control" id="editTitle" placeholder="Title" value="{{ post.title }}">
            <label for="editTitle">Title</label>
        </div>
        <div class="form-floating mt-2">
            <textarea class="form-control" placeholder="Update post" id="editBody" style="height: 100px">{{ post.body }}</textarea>
            <label for="editBody">Edit Post</label>
        </div>
        <button type="submit" id="editPostBtn" class="btn btn-primary">Edit Post</button>

    </form>
</div>