<div class="container mb-4">
    <div class="card mt-4">
        <div class="card-header bg-dark">
            <div class="title text-center">{{ post.title }}</div>
            <div class="text-end"><strong>Submitted by {{ cap_first_letter post.User.username }} on {{ format_date post.createdAt}}</strong> </div>
        </div>
        <div class="card-body text-dark">
            <p class="card-text">{{ post.body }}</p>
        </div>
        {{#if loggedInUser }}
            <form>
                <textarea id="commentField"></textarea>
                <button id="commentBtn">Comment</button>
        </form>
        {{/if}}
        {{> comments post.comments }}
    </div>
</div>

